<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/index.css"/>
<meta charset="UTF-8"/>
<title>Main site</title>
</head>
<body>
    <form action="log" method="get">
        <button type = "submit">Zaloguj się</button>
    </form>
    <form action="rej" method="get">
        <button type = "submit">Zarejstruj się</button>
    </form>
</body>
</html>